In [6]:
import numpy as np
import sqlite3

with sqlite3.connect('../data/database.sqlite') as con:
    countries = pd.read_sql_query("SELECT * from Country", con)
    matches = pd.read_sql_query("SELECT * from Match", con)
    leagues = pd.read_sql_query("SELECT * from League", con)
    teams = pd.read_sql_query("SELECT * from Team", con)
    

selected_countries = ['France']
countries = countries[countries.name.isin(selected_countries)]
leagues = countries.merge(leagues,on='id',suffixes=('', '_y'))
matches = matches[matches.league_id.isin(leagues.id)]
matches = matches[['home_team_goal', 'away_team_goal','B365H','B365D','B365A']]
matches.dropna(inplace=True)

matches['D'] = np.where(matches.home_team_goal == matches.away_team_goal,1,0)
matches['HW'] = np.where(matches.home_team_goal > matches.away_team_goal,1,0)
matches['AW'] = np.where(matches.home_team_goal < matches.away_team_goal,1,0)
del matches['home_team_goal']
del matches['away_team_goal']

In [7]:
matches.head()

      B365H  B365D  B365A  D  HW  AW
4768   2.10    3.1   3.75  0   1   0
4769   1.57    3.6   6.50  0   1   0
4770   2.30    3.0   3.40  0   1   0
4771   2.10    3.1   3.80  0   0   1
4772   1.33    4.5  11.00  0   1   0

In [26]:
smallest = matches.loc[:, ['B365H','B365D', 'B365A']].min(axis=1)

In [37]:
X = np.add(matches.B365D==smallest,2*(matches.B365A==smallest))

In [38]:
Y = matches['D'] + 2*matches['AW'] #0 for HW, 1 for draw, 2 for AW

In [41]:
np.sum(X == Y)/np.sum(X==X)

0.5079051383399209

In [ ]:
### So that's the target to aim at. Really only just above 50%