In [22]:
import pandas as pd
import numpy as np
data = pd.read_csv('./../data/french_l1.csv')

In [23]:
data = data[['home_team_api_id','away_team_api_id','HW','D','AW']]

In [24]:
data.ix[50]

home_team_api_id    8583
away_team_api_id    9874
HW                     1
D                      0
AW                     0
Name: 50, dtype: int64

In [43]:
data[data.home_team_api_id==data.ix[50].home_team_api_id].head(2)

    home_team_api_id  away_team_api_id  HW  D  AW
0               8583              9830   1  0   0
10              8583              9748   0  1   0

In [32]:
mask = (data.home_team_api_id==data.ix[50].home_team_api_id) & (data.away_team_api_id==data.ix[50].away_team_api_id)

In [42]:
data[mask].head(2)

    home_team_api_id  away_team_api_id  HW  D  AW
0               8583              9830   1  0   0
10              8583              9748   0  1   0

In [38]:
mask = (data.home_team_api_id==data.ix[50].home_team_api_id) | (data.away_team_api_id==data.ix[50].home_team_api_id)

In [45]:
data[mask].head(2)

    home_team_api_id  away_team_api_id  HW  D  AW
0               8583              9830   1  0   0
10              8583              9748   0  1   0

In [69]:
data['previous_result'] = 0
x = 0
d = data[mask]
for x in d.index:
    d.set_value(x,'previous_result',(d.iloc[x-1].D + 2*d.iloc[x-1].AW))

IndexError: single positional indexer is out-of-bounds

In [68]:
d.index

Int64Index([   0,   10,   23,   30,   40,   50,   61,   70,   82,   90,
            ...
            1424, 1430, 1445, 1450, 1460, 1476, 1480, 1494, 1500, 1518],
           dtype='int64', length=152)